$primary-color: #ffffff;
$secondary-color: #dedede;
$secondary-bg: #2d2d2d;
$primary-bg: #000000;
$gray: #2e2e2e;
@mixin space0 {
  padding: 0;
  margin: 0;
}
@mixin section-heading {
  font-size: 60px;
  font-weight: 200;
}
body {
  @include space0();
}

button {
  font-size: 25px;
  border: none;
  font-weight: 300;
  background: linear-gradient(
    133.03deg,
    #000102 3.92%,
    rgba(34, 34, 34, 0.98) 97.24%
  );
  color: $primary-color;
  box-shadow: 5px 5px 5px $secondary-color;
  outline: none;
}
button:hover {
  border: 2px solid $secondary-bg;
  color: $primary-bg;
  background: $secondary-color;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 10px 10px 15px $secondary-color;
}
.container {
  display: flex;
  @include space0();
  width: 100vw;
  .sidebar {
    width: 81px;
    height: 100vh;
    background: $secondary-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      @include space0();
      width: inherit;
      li {
        list-style: none;
        a {
          color: $primary-color;
          text-decoration: none;
          padding: 1em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        a:hover {
          background: $primary-bg;
        }
        .active {
          background: $primary-bg;
        }
      }
    }
  }

  .content {
    flex: 1;
    height: 100vh;
    background: $primary-color;
    @include space0();
    overflow-y: scroll;
    color: $primary-bg;
    #home {
      padding-left: 7em;
      height: 100vh;
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      div {
        h1 {
          line-height: 200px;
          font-size: 250px;
          font-weight: 300;
        }
        h2 {
          line-height: 150px;
          font-size: 100px;
          font-weight: normal;
          padding-left: 10px;
          span {
            color: $gray;
          }
        }
        h4 {
          line-height: 40px;
          font-size: 40px;
          font-weight: lighter;
          padding-left: 10px;
        }
        button {
          width: 200px;
          height: 60px;
          border-radius: 30px;
          margin: 10px 5px 0 10px;
        }
      }
    }
    #about {
      height: 100vh;
      padding: 4em 7em;
      h1 {
        @include section-heading();
      }
      div {
        margin-top: 3rem;
        font-size: 20px;
        line-height: 35px;
        font-weight: 200;
        letter-spacing: 3px;
      }
      h2 {
        margin-top: 3rem;
        font-weight: 200;
      }
    }
    #projects {
      height: auto;
      padding: 4em 7em 0 7em;
      margin: 0;
      overflow-y: hidden;
      h1 {
        @include section-heading();
      }
      .project-container {
        margin: 4em 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        padding: 5em;
        overflow-y: scroll;
        max-height: 55vh;
        &::-webkit-scrollbar {
          background: transparent;
        }
        .img-container {
          overflow: hidden;
          .text-modal-open {
            display: none;
          }
          img {
            width: 100%;
            min-height: 200px;
            object-fit: cover;
            transform: all 0.5s ease-out;
            cursor: pointer;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
      }
      .modal {
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        width: 99vw;
        height: 99vh;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s ease-out;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .full-img {
          position: relative;
          max-height: 50%;
          margin-right: 2em;
        }
        .text-container {
          display: flex;
          flex-direction: column;
          background: white;
          max-width: 450px;
          height: auto;
          margin-top: 0;
          padding: 2em;
          h3 {
            line-height: 25px;
            color: black;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 1px;
            cursor: pointer;
          }
          h5 {
            font-weight: 400;
            font-size: 18px;
          }
          .button-option {
            display: flex;
            button {
              width: 200px;
              height: 40px;
              border-radius: 20px;
              margin: 10px 5px 0 10px;
            }
          }
        }
      }
      .modal.open {
        transition: 0.25s ease-out;
        opacity: 1;
        pointer-events: all;
      }
    }
    #contact {
      height: 95vh;
      padding: 4em 7em 0 7em;
      h1 {
        @include section-heading();
      }
      .contact-container {
        align-self: center;
        display: flex;
        width: inherit;
        height: 70vh;
        border: 1px solid #d2d2d2;
        margin-top: 4em;
        position: relative;
        .contact-form {
          h2 {
            text-align: center;
            margin-top: 1em;
          }
          width: 60%;
          input {
            width: 80%;
            display: block;
            margin: auto auto;
            margin-bottom: 1em;
          }

          textarea {
            width: 80%;
            align-self: center;
            display: block;
            margin: auto auto;
          }
          input[type="submit"] {
            display: block;
            margin: auto auto;
            width: 200px;
            height: 50px;
            border-radius: 25px;
            background: linear-gradient(
              133.03deg,
              #000102 3.92%,
              rgba(34, 34, 34, 0.98) 97.24%
            );
            border: none;
            color: $primary-color;
            font-size: 25px;
            margin-top: 1em;
          }
          input[type="submit"]:hover {
            border: 2px solid $secondary-bg;
            color: $primary-bg;
            background: $secondary-color;
            font-weight: 400;
            letter-spacing: 1px;
            box-shadow: 10px 10px 15px $secondary-color;
          }
        }
        .contact-map {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          overflow-x: hidden;
          letter-spacing: 1px;
          div {
            position: absolute;
            background: $primary-bg;
            width: inherit;
            opacity: 0.8;
            color: $primary-color;
            font-size: 15px;
            padding: 2em 0 2em 2em;
          }
          i {
            z-index: 9;
          }
        }
      }
    }
  }
}
